.web-console {
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.web-console > .web-console-output {
  flex: 1 1;
  padding: 5px;
  font-size: 1.5em;
  overflow: auto;
}
.web-console > .web-console-output p {
  margin: 0;
  white-space: pre-wrap;
}

.web-console > .web-console-input {
  flex: 0 1;
  border-top: 2px solid black;
  background-color: #b8b8b8;
}

.web-console > .web-console-input {
  display: flex;
  align-items: center;
}

.web-console > .web-console-input > span {
  font-size: 1.5em;
  padding: 0 10px;
}

.web-console .prompt {
  color: blue;
  font-weight: bold;
}

.web-console > .web-console-input > input {
  font-size: 1.5em;
  font-weight: normal;
  flex: 1;
  height: 1.5em;
  border: none;
  background-color: transparent;
  padding: 2px 5px 2px 0px;
}

.web-console input:focus {
  outline: none;
}
